# Flutter / Dart
.dart_tool/
.buildlog
.packages
.pub/
build/
pubspec.lock

# Flutter platform files
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/
macos/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# IDEs
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
